VITE_APP_DEFAULT_ROUTE = /analysis
VITE_APP_PUBLIC_PATH = /
VITE_APP_API_BASE_URL = /api
VITE_APP_ROUTER_MODE = frontend

INVENTORY_API_TARGET=inventory_api_target
SALES_API_TARGET=sales_api_target
PURCHASES_API_TARGET=purchases_api_target